.text-custom {
    color: coral;
}
.bg-custom {
    background-color: coral;
}
body { 
    background-color: #dff9fb;
}
.navbar-brand {
    cursor: pointer;
}
.custom-btn {
    background-color: coral;
    color: white;
    transition: .4s;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
}
.custom-btn:hover {
    color: white;
    background-color: rgb(216, 82, 33);
}

.alert {
    display: none;
}
#item-details {
    display: none;
}